.App {
  text-align: center;
}

.btn-style {
  background-color: white;
  font: inherit;
  border: 5px solid red;
  padding: 8px;
  cursor: pointer;
}

.red{
  color: red;
}

.bold{
  font-weight: bold;
}